/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0891b2;
  --ifm-color-primary-dark: #0e7490;
  --ifm-color-primary-darker: #155e75;
  --ifm-color-primary-darkest: #164e63;
  --ifm-color-primary-light: #06b6d4;
  --ifm-color-primary-lighter: #22d3ee;
  --ifm-color-primary-lightest: #67e8f9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #22d3ee;
  --ifm-color-primary-dark: #06b6d4;
  --ifm-color-primary-darker: #0891b2;
  --ifm-color-primary-darkest: #0e7490;
  --ifm-color-primary-light: #67e8f9;
  --ifm-color-primary-lighter: #a5f3fc;
  --ifm-color-primary-lightest: #cffafe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
